<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <title>Linernote</title>
    <meta name="description"
      content="Linernote wil Spotify, Youtube en Social Media content van artiesten samenbrengen in één app, aangevuld door concertkaartjes">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900">
  </head>

  <body class="{{template}}">
    {{{body}}}
    {{#playback}}
    <div class="spotify">
      {{#if item.name}}
      <img class="spotify__image" src="{{item.album.images.2.url}}" alt="{{item.name}}">
      <div class="spotify__song">
        <span class="spotify__track">{{item.name}}</span>
        <span class="spotify__artist">{{item.artists.0.name}}</span>
      </div>
      <div class="spotify__remote">
        &#9654;
      </div>
      {{else}}
      <div class="spotify__song">
        <span class="spotify__artist">Nothing is playing</span>
      </div>
      {{/if}}
    </div>
    {{/playback}}
    <footer class="navigation">
      <nav>
        <a href="/home" class="navigation__tab">
          <img src="/images/home.png" alt="Home">
        </a>
        <a href="/search" class="navigation__tab">
          <img src="/images/search.png" alt="Search">
        </a>
        <a href="#" class="navigation__tab">
          <img src="/images/library.png" alt="Library">
        </a>
      </nav>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    {{{_sections.script}}}
  </body>

</html>